<a href="https://colab.research.google.com/github/sedcakmak/Airline-Passenger-Satisfaction-Data-Analysis/blob/main/Airline_Passenger_Satisfaction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# ‚úàÔ∏è **INTRODUCTION**

---

For this project, the **Airline Passenger Satisfaction** dataset is used. You can find the original dataset on Kaggle [here](https://www.kaggle.com/datasets/teejmahal20/airline-passenger-satisfaction/data).

## üìä **Dataset Selection & Description**

I chose this dataset because I found its structure clearer and easier to understand. The column names were familiar (age, gender, flight distance, etc.), and the goal ‚Äî to understand whether passengers were satisfied or not ‚Äî seemed more straightforward. It felt like a good starting point to learn data analysis without needing advanced cleaning or domain knowledge.

## üìã **Project Objectives**
* Dataset Selection and Setup

* Statistical Summary

* Missing Data Analysis

* Outlier Detection

* Visualization


## üì• **Dataset Selection and Setup**

In [291]:
import kagglehub
path = kagglehub.dataset_download("teejmahal20/airline-passenger-satisfaction")
print("Path to dataset files:", path)

import pandas as pd
train = pd.read_csv(f'{path}/train.csv')
test = pd.read_csv(f'{path}/test.csv')

df = pd.concat([train, test], ignore_index=True)

Path to dataset files: /kaggle/input/airline-passenger-satisfaction


## üìä **Statistical Summary**

In [292]:
print("="*13)
print("DATASET INFO:")
print("="*13)
df.info()

print()

print("="*20)
print("STATISTICAL SUMMARY:")
print("="*20)
df.describe()

=============
DATASET INFO:
=============
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 25 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Unnamed: 0                         129880 non-null  int64
 1   id                                 129880 non-null  int64
 2   Gender                             129880 non-null  object
 3   Customer Type                      129880 non-null  object
 4   Age                                129880 non-null  int64
 5   Type of Travel                     129880 non-null  object
 6   Class                              129880 non-null  object
 7   Flight Distance                    129880 non-null  int64
 8   Inflight wifi service              129880 non-null  int64
 9   Departure/Arrival time convenient  129880 non-null  int64
 10  Ease of Online booking             129880 non-null  int64
 11  Gate location                      129880 non-null  int64
 12  Food and drink                     129880 non-null  int64
 13  Online boarding                    129880 non-null  int64
 14  Seat comfort                       129880 non-null  int64
 15  Inflight entertainment             129880 non-null  int64
 16  On-board service                   129880 non-null  int64
 17  Leg room service                   129880 non-null  int64
 18  Baggage handling                   129880 non-null  int64
 19  Checkin service                    129880 non-null  int64
 20  Inflight service                   129880 non-null  int64
 21  Cleanliness                        129880 non-null  int64
 22  Departure Delay in Minutes         129880 non-null  int64
 23  Arrival Delay in Minutes           129487 non-null  float64
 24  satisfaction                       129880 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 24.8+ MB

====================
STATISTICAL SUMMARY:
====================

,Unnamed: 0,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
count,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129487.000000
mean,44158.700000,64940.500000,39.427957,1190.316392,2.728696,3.057599,2.756876,2.976925,3.204774,3.252633,3.441361,3.358077,3.383023,3.350878,3.632114,3.306267,3.642193,3.286326,14.713713,15.091129
std,31207.377062,37493.270818,15.119360,997.452477,1.329340,1.526741,1.401740,1.278520,1.329933,1.350719,1.319289,1.334049,1.287099,1.316252,1.180025,1.266185,1.176669,1.313682,38.071126,38.465650
min,0.000000,1.000000,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,16234.750000,32470.750000,27.000000,414.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000
50%,38963.500000,64940.500000,40.000000,844.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000
75%,71433.250000,97410.250000,51.000000,1744.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,4.000000,12.000000,13.000000
max,103903.000000,129880.000000,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000

In [293]:
# Most common passenger age
print("Most common passenger age:", df['Age'].mode()[0])

# Number of passengers under 18
print("Number of passengers under 18:", df[df['Age'] < 18].shape[0])

Most common passenger age: 39
Number of passengers under 18: 9847

In [294]:
# Shows all values in each categorical column
for col in df.select_dtypes(include=['object']).columns:
    print(f"{df[col].value_counts().to_string()}\n")

Gender
Female    65899
Male      63981

Customer Type
Loyal Customer       106100
disloyal Customer     23780

Type of Travel
Business travel    89693
Personal Travel    40187

Class
Business    62160
Eco         58309
Eco Plus     9411

satisfaction
neutral or dissatisfied    73452
satisfied                  56428


## üîç **Missing Data Analysis**

In [295]:
# Number of missing values
df.isnull().sum()

Unnamed: 0                             0
id                                     0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             393
satisfaction                           0
dtype: int64

In [296]:
# Percentage of missing data in the dataset
print(f"Percentage: {df['Arrival Delay in Minutes'].isnull().mean():.2%}")

Percentage: 0.30%


### üßπ **Handling Missing Data**

In [297]:
# Unnamed and id are not needed
df.drop(['Unnamed: 0', 'id'], axis=1, inplace=True)

In [298]:
# The reason for this missing data could be due to the fact that there is no arrival delay
# Arrival Delay in minutes are dropped since the percentage is too low
df.dropna(subset=['Arrival Delay in Minutes'], inplace=True)

In [299]:
df.info() # double checking

<class 'pandas.core.frame.DataFrame'>
Index: 129487 entries, 0 to 129879
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Gender                             129487 non-null  object
 1   Customer Type                      129487 non-null  object
 2   Age                                129487 non-null  int64
 3   Type of Travel                     129487 non-null  object
 4   Class                              129487 non-null  object
 5   Flight Distance                    129487 non-null  int64
 6   Inflight wifi service              129487 non-null  int64
 7   Departure/Arrival time convenient  129487 non-null  int64
 8   Ease of Online booking             129487 non-null  int64
 9   Gate location                      129487 non-null  int64
 10  Food and drink                     129487 non-null  int64
 11  Online boarding                    129487 non-null  int64
 12  Seat comfort                       129487 non-null  int64
 13  Inflight entertainment             129487 non-null  int64
 14  On-board service                   129487 non-null  int64
 15  Leg room service                   129487 non-null  int64
 16  Baggage handling                   129487 non-null  int64
 17  Checkin service                    129487 non-null  int64
 18  Inflight service                   129487 non-null  int64
 19  Cleanliness                        129487 non-null  int64
 20  Departure Delay in Minutes         129487 non-null  int64
 21  Arrival Delay in Minutes           129487 non-null  float64
 22  satisfaction                       129487 non-null  object
dtypes: float64(1), int64(17), object(5)
memory usage: 23.7+ MB


## üö® **Outlier Detection**

In [303]:
def detect_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_limit = Q1 - 1.5 * IQR
    upper_limit = Q3 + 1.5 * IQR
    return df[(df[column] < lower_limit) | (df[column] > upper_limit)]

for col in ['Age', 'Flight Distance', 'Departure Delay in Minutes']:
    outliers = detect_outliers(df, col)
    print(f"Outliers in {col}:")
    print(outliers)
    print()

Outliers in Age:
Empty DataFrame
Columns: [Gender, Customer Type, Age, Type of Travel, Class, Flight Distance, Inflight wifi service, Departure/Arrival time convenient, Ease of Online booking, Gate location, Food and drink, Online boarding, Seat comfort, Inflight entertainment, On-board service, Leg room service, Baggage handling, Checkin service, Inflight service, Cleanliness, Departure Delay in Minutes, Arrival Delay in Minutes, satisfaction]
Index: []

[0 rows x 23 columns]

Outliers in Flight Distance:
        Gender   Customer Type  Age   Type of Travel     Class  \
80        Male  Loyal Customer   26  Business travel  Business
173       Male  Loyal Customer   52  Business travel  Business
201     Female  Loyal Customer   43  Business travel  Business
215     Female  Loyal Customer   38  Business travel  Business
379       Male  Loyal Customer   46  Business travel  Business
...        ...             ...  ...              ...       ...
129608    Male  Loyal Customer   49  Business travel  Business
129700  Female  Loyal Customer   29  Business travel  Business
129778  Female  Loyal Customer   51  Business travel  Business
129795    Male  Loyal Customer   44  Business travel  Business
129843  Female  Loyal Customer   42  Business travel  Business

        Flight Distance  Inflight wifi service  \
80                 3960                      1
173                3747                      5
201                3854                      5
215                3753                      2
379                3995                      4
...                 ...                    ...
129608             4963                      1
129700             3840                      3
129778             3904                      4
129795             3857                      1
129843             3855                      1

        Departure/Arrival time convenient  Ease of Online booking  \
80                                      1                       1
173                                     5                       5
201                                     5                       5
215                                     2                       2
379                                     4                       4
...                                   ...                     ...
129608                                  1                       1
129700                                  3                       3
129778                                  4                       4
129795                                  1                       1
129843                                  1                       1

        Gate location  ...  Inflight entertainment  On-board service  \
80                  1  ...                       4                 4
173                 5  ...                       4                 4
201                 5  ...                       5                 5
215                 2  ...                       4                 4
379                 4  ...                       5                 5
...               ...  ...                     ...               ...
129608              1  ...                       4                 4
129700              3  ...                       5                 3
129778              4  ...                       4                 4
129795              1  ...                       4                 4
129843              1  ...                       4                 4

        Leg room service  Baggage handling  Checkin service  Inflight service  \
80                     2                 5                4                 4
173                    4                 4                5                 4
201                    5                 5                5                 5
215                    4                 4                4                 4
379                    5                 5                5                 5
...                  ...               ...              ...               ...
129608                 3                 4                4                 4
129700                 3                 4                3                 1
129778                 4                 4                4                 4
129795                 4                 4                3                 4
129843                 4                 4                1                 4

        Cleanliness  Departure Delay in Minutes  Arrival Delay in Minutes  \
80                4                          45                      48.0
173               5                          24                      20.0
201               3                           0                       0.0
215               1                           0                       0.0
379               4                           0                       0.0
...             ...                         ...                       ...
129608            4                          23                       0.0
129700            5                           0                       0.0
129778            4                           0                       0.0
129795            4                           0                       5.0
129843            5                           0                       0.0

        satisfaction
80         satisfied
173        satisfied
201        satisfied
215        satisfied
379        satisfied
...              ...
129608     satisfied
129700     satisfied
129778     satisfied
129795     satisfied
129843     satisfied

[2847 rows x 23 columns]

Outliers in Departure Delay in Minutes:
        Gender      Customer Type  Age   Type of Travel     Class  \
14      Female     Loyal Customer   26  Personal Travel       Eco
16      Female     Loyal Customer   26  Business travel  Business
22      Female     Loyal Customer   43  Personal Travel       Eco
24      Female  disloyal Customer   23  Business travel       Eco
32      Female     Loyal Customer   35  Business travel  Business
...        ...                ...  ...              ...       ...
129829  Female     Loyal Customer   29  Business travel  Business
129838  Female     Loyal Customer   41  Business travel  Business
129839  Female     Loyal Customer   39  Business travel  Business
129846    Male     Loyal Customer   44  Personal Travel       Eco
129868  Female     Loyal Customer   48  Business travel       Eco

        Flight Distance  Inflight wifi service  \
14                  453                      3
16                 2123                      3
22                  752                      3
24                  452                      5
32                 2611                      4
...                 ...                    ...
129829              689                      2
129838             2748                      1
129839             2291                      2
129846              404                      3
129868              283                      3

        Departure/Arrival time convenient  Ease of Online booking  \
14                                      2                       3
16                                      3                       3
22                                      5                       3
24                                      0                       5
32                                      5                       4
...                                   ...                     ...
129829                                  2                       2
129838                                  2                       2
129839                                  2                       1
129846                                  1                       3
129868                                  1                       1

        Gate location  ...  Inflight entertainment  On-board service  \
14                  2  ...                       2                 4
16                  3  ...                       4                 5
22                  5  ...                       3                 3
24                  1  ...                       1                 4
32                  4  ...                       3                 3
...               ...  ...                     ...               ...
129829              2  ...                       3                 4
129838              2  ...                       1                 1
129839              1  ...                       2                 2
129846              2  ...                       2                 4
129868              1  ...                       3                 3

        Leg room service  Baggage handling  Checkin service  Inflight service  \
14                     3                 2                2                 1
16                     3                 4                5                 4
22                     3                 5                3                 3
24                     5                 5                3                 5
32                     4                 5                4                 3
...                  ...               ...              ...               ...
129829                 2                 5                5                 5
129838                 1                 1                3                 1
129839                 2                 2                1                 2
129846                 2                 3                2                 4
129868                 3                 3                4                 3

        Cleanliness  Departure Delay in Minutes  Arrival Delay in Minutes  \
14                2                          43                      35.0
16                4                          49                      51.0
22                4                          52                      29.0
24                1                          54                      44.0
32                4                         109                     120.0
...             ...                         ...                       ...
129829            3                          48                      46.0
129838            3                          83                      79.0
129839            1                          70                      64.0
129846            2                         131                     138.0
129868            1                          38                      28.0

                   satisfaction
14      neutral or dissatisfied
16                    satisfied
22      neutral or dissatisfied
24                    satisfied
32                    satisfied
...                         ...
129829                satisfied
129838  neutral or dissatisfied
129839  neutral or dissatisfied
129846  neutral or dissatisfied
129868  neutral or dissatisfied

[17970 rows x 23 columns]


## üìâ **Visualization**

In [301]:
import seaborn as sns
import matplotlib.pyplot as plt